<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ title }}{% trans 'Configurator' %}{% endblock %}

{% block body-content %}
    <div id="div_table_sites">
        <table id="table_buttons_sites" class="table-buttons">
            <caption id="caption_sites" class="caption-sites">Sites</caption>
            <tbody>
                <tr>
                    {% for site in listsites %}
                        <td>
                            <button type="button" id="{{ site.sitename }}" class="btn btn-default" name="{{ site.sitename }}" value="{{ site.sitename }}" onclick="get_selected('{{ site.sitename }}')">{{ site.sitename | capfirst }}</button>
                        </td>
                    {% endfor %}
                    <td>
                        <button type="button" id="all" class="btn btn-default" name="all" value="all" onclick="get_selected('all')">All</button>
                    </td>
                    <td>
                        <button type="button" id="clear" name="clear" class="btn btn-default" disabled="disabled" onclick="clear_page()">Clear</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="table_buttons_go" class="table-buttons">
            <tbody>
                <tr>
                    <td id="id-td-commands" class="td-commands" colspan="2">
                        <select id="commands" class="form-control" name="select-command" disabled>
                            <option id="empty" selected></option>
                            <option id="up" value="up">Power Up</option>
                            <option id="status" value="status">Power Status</option>
                            <option id="down" value="down">Power Down</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" id="go" class="btn btn-default" disabled="disabled" onclick="get_selected_hosts()">Go (0)</button>
                    </td>
                    <td>
                        <button type="button" id="stop" class="btn btn-default" disabled="disabled" onclick="stop()">Stop</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="div_hostlist" class="div_hostlist"></div>
{% endblock %}